<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>contact us</title>
    <link rel="stylesheet" href="/css/contactus.css">
</head>

<body>
    <header class="main-header">
        <nav class="main-header__nav">
            <ul class="main-header__item-list">
                <li class="main-header__item"><a href="/">Shop</a></li>
                <li class="main-header__item"><a href="/admin/add-product">Add product</a></li>
                <li class="main-header__item"><a class="active" href="contact-us">contact us</a></li>

            </ul>
        </nav>
    </header>
    <main>
        <form class="contact-us-form" action="/contact-us" method="POST">
            <div class="form-control">
                <label for="name">Name:</label><input type="text" name="name">
                <label for="emailid">Email Id:</label><input type="text" name="emailid">
                <button type="submit">Submit</button>
            </div>

        </form>
    </main>
</body>

</html>